main {
  margin: 20px;
  margin-top: 100px;
}

article {
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#add-product-section {
  background-color: #f2f2f2;
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#delete-products {
  background-color: #f2f2f2;
  padding: 20px;
}

#add-product-form label,
#add-product-form input,
#add-product-form button {
  display: block;
  margin-bottom: 10px;
}

div img {
  width: 100px;
  height: 150px;
}