.head_nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
}

.nav_icon {
    padding-right: 10px;
    width: 60px;
    height: auto;
}

body {
    background-color: #E3E7E8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container_content header {
    background-color: #FF700A;
    color: #fff;
    padding: 20px;
}

.container_content {
    width: 850px;
    margin: auto;
    transition: 0.5s;
}

.container_content header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 110px;
}

.container_content header .shopping {
    position: relative;
    text-align: right;
}

header .shopping img {
    width: 40px;
}

.shopping:hover {
    cursor: pointer;
}

header .shopping span {
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.list .item {
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}

.list .item img {
    width: 90%;
}

.list .item .title {
    font-weight: 600;
}

.list .item .price {
    margin: 10px;
}

.list .item button {
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}

.card {
    position: fixed;
    top: 75px;
    left: 100%;
    width: 400px;
    background-color: #453E3B;
    height: 88vh;
    transition: 0.5s;
}

.active .card {
    left: calc(100% - 400px);
}

.active .container_content {
    transform: translateX(-200px);
}

.card h1 {
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.card .checkOut div {
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    padding-bottom: 10px;
}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 90%;
}

.listCard li button {
    background-color: #fff5;
    border: none;
}

.listCard .count {
    margin: 0 10px;
}

footer {
    margin-top: 100px;
}