.container_form {
    width: 400px;
    margin: 100px auto;
    font-family: sans-serif;
    font-size: 18px;
}

form input {
    width: 92%;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: #e4e4e4;
}

input:focus{
    border: 1px solid rgb(192, 192, 192);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
